.map {
  aspect-ratio: 1 / 1;
}

.search-limits {
  background-color: #161717;
}

.search-limits input {
  background-color: #2a2a2b;
  border-color: #d9d9d9;
  border-width: 1px;
}

.search-button {
  background-color: #6b8aeb;
}

.save-button {
  background-color: #845ed7;
}

.search-result {
  background-color: #161717;
  border-radius: 3%;
}

/* .tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
} */

.input-container {
  position: relative;
  display: inline-block;
}
/*
.input-container:hover .tooltip {
  display: block;
} */
