.custom-input {
  background-color: #242424;
  border: 0.1rem solid white;
  color: white;
  padding: 4px;
  padding-inline: 8px;
}

.userid-input::selection {
  border: 0.1rem solid white;
}

.custom-checkbox {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.3rem;
}

.remember-me {
  font-size: 10px;
}

.forget-password {
  font-size: 12px;
  margin-right: 0.3rem;
}

.click-here {
  font-size: 11px;
  color: #1293ff;
}

.continue-button {
  background-color: #a36bfd;
  text-size-adjust: 10px;
}
