.button-filter {
  background-color: #161717;
  border-color: #5b5b5c;
  border-width: 1px;
  border-style: solid;
}

.button-export {
  background-color: #fad85d;
}

.history-bg {
  background-color: #161717;
}
